datasets==1.16.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
numpy==1.19.5
sentencepiece==0.1.96
spacy==2.3.1
tokenizers==0.10.3
torch==1.7.1
transformers==4.12.5